
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title> Instagram| {% block title %} {% endblock title %}     </title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#f6f6f6;">
  <a class="navbar-brand" href="{% url 'index' %}" data-toggle="tooltip" data-placement="top" title="Home">Instagram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">


	
    <form class="form form-inline" id="top-center" method="GET" action="{% url 'usersearch' %}" data-toggle="tooltip" data-placement="top" title="Search for friends">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ query }}">
       <input class="form-control mr-sm-2" name='q' type="text"   placeholder="Search" aria-label="Search">
    </form>
      



    <ul class="navbar-nav ml-auto" >
      {% if user.is_authenticated %}
      <li class="nav-item"  data-toggle="tooltip" data-placement="top" title="Notifications">
        <a class="nav-link" href='{% url "show-notifications" %}'><i class="ri-heart-fill"></i><span class="badge badge-dark">{{ count_notifications }}</span></a>
      </li>

      <li class="nav-item"  data-toggle="tooltip" data-placement="top" title="Inbox">
        <a class="nav-link" href="{% url 'inbox' %}"><i class="ri-mail-unread-line"></i><span class="badge badge-dark">{{ directs_count }}</span></a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="top" title="Add Story">
        <a class="nav-link" href="{% url 'newstory' %}"><i class="ri-store-line"></i></span></a>
      </li>
  

      <li class="nav-item"  data-toggle="tooltip" data-placement="top" title="New Post">
        <a class="nav-link" href="{% url 'newpost' %}"><i class="ri-edit-line"></i></a>
      </li>
      {% endif %}
      <li class="nav-item dropdown"  id="dropdown-pull">
        {% if user.is_authenticated %}
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ user.username }}
        </a>
        
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          
          <a class="dropdown-item" href="{% url 'profile' user.username %}">Profile</a>
          <a class="dropdown-item" href="{% url 'edit-profile' %}">Settings</a>
          <div class="dropdown-divider"></div>
          
          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
          {% endif %}
        </div>
      </li>
    
    </ul>
    
  </div>
</nav>

{% block banner %}

{% endblock %}


<div class="container">
  <div class="row" style="margin-top: 15px;">
  {% block content %}


  {% endblock %}
  </div>
</div>



<!-- Footer -->


<div class="card" style="margin-top: 50px;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <small>About</small>
    <br><br>
    <p class="card-text">© 2021 Instagram from Facebook</p>
    <p>©Code Bro</p>

  </div>
</div>

<!-- Footer End-->



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/directs.js' %}"></script>


</body>
</html>