{% extends 'base.html' %}


{% block content %}




 <div class="col"></div>

 <div class="col-8 mt-5">
<h3>Login</h3>

<form method="POST">
	{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Username/Email address</label>
    {{ form.username }}
<!--     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> -->
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
      {{ form.password }}
<!--     <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br>
<a href="{% url 'signup' %}" class="button is-info">Create an account?</a>

</div>

 <div class="col"></div>




{% endblock %}